# from setup.py
build/
*.egg-info

# system
.DS_Store
__pycache__/
.python-version

# testing files
_*
a.py
b.py
run.sh
main_C.py
main_Q.py

# large data
dataset/
*.root
*.hdf5

# private information
gmail.yaml
config.toml
wandb.yaml
wandb.ipynb

# training result
ibmq_result/
training_logs/